* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables for colors */
:root {
  --primary-text-color: wheat;
  --primary-text-color-2: #ffffff;
  --bg-color: #316146;
  --bg-color-1: #2e8b57;
  --bg-color-2: #3aac6b;
  --bg-color-3: #149180;
  --bg-color-4: #1a6b5e;
  --bg-color-5: #1a6b5e;
  --nav-item-hover: #4caf50;
  --sidebar-border: #596c59;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--bg-color-1) 0%,
    var(--bg-color-2) 25%,
    var(--bg-color-2) 50%,
    var(--bg-color-3) 75%,
    var(--bg-color-4) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* ================== NAVBAR ================== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  color: var(--primary-text-color-2);
}

.logo img {
  width: 80px;
  height: 80px;
}

/* ================== NAV LINKS ================== */
.nav-links {
  align-items: center;
  display: flex;
  list-style: none;
  gap: 1rem;
  z-index: 2000;
}

.nav-links li.active {
  border-radius: 10px;
  background: linear-gradient(
    135deg,
    var(--bg-color-1) 0%,
    var(--bg-color-3) 50%,
    var(--bg-color-5) 100%
  );
  display: flex;
  height: 40px;
}

.nav-links li a {
  color: var(--primary-text-color-2);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links li a:hover {
  background-color: var(--nav-item-hover);
}

/* ================== HAMBURGER MENU ================== */
.menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 999;
  position: relative;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--primary-text-color-2);
  border-radius: 2px;
}

/* ================== Footer ================== */
footer {
  background-color: var(--bg-color-1);
  color: var(--primary-text-color-2);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer .logo {
  align-items: flex-start;
}
.footer .logo img {
  width: 90px;
  height: 90px;
  border-radius: 20px;
}
.social_media {
  display: flex;
  align-items: center;
  padding: 10px;
}

.social_media li {
  list-style-type: none;
  display: block;
  color: #ffff;
  line-height: 30px;
  text-decoration: none;
}

.social_media a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0px 15px;
}

i.fa-brands {
  padding: 10px;
}

.address a {
  text-decoration: none;
  color: var(--primary-text-color-2);
}

/* ================== Sidebar =====================*/
aside {
  height: fit-content;
  max-height: calc(100vh - 100px);
  width: 240px;
  background-color: var(--bg-color);
}

aside h1 {
  padding: 10px 15px;
  color: var(--primary-text-color);
  font-family: monospace;
  text-align: center;
}

.list-item {
  align-items: center;
  border: 1px solid var(--sidebar-border);
  color: var(--primary-text-color);
  cursor: pointer;
  display: flex;
  gap: 5px;
  height: 60px;
  padding: 10px;
}

.list-item:hover {
  background-color: var(--bg-color-1);
  transition: width 0.3s linear, background-color 0.3s linear;
}

/* ================== RESPONSIVE ================== */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: var(--bg-color-1);
    flex-direction: column;
    display: none;
    border-radius: 0 0 0 10px;
    overflow: hidden;
  }

  .nav-links li.active {
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .nav-links li a {
    padding: 1rem;
    display: block;
  }

  /* Show menu when checked */
  .menu-toggle:checked ~ .nav-links {
    display: flex;
  }
}
