* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  min-height: 100vh;
}

/* ================== NAVBAR ================== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #2e8b57;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  color: white;
  /*position: relative;*/
}

.logo img {
  width: 80px;
  height: 80px;
}

/* ================== NAV LINKS ================== */
.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links li a:hover {
  background-color: #4caf50;
}

/* ================== HAMBURGER MENU ================== */
.menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

/* ================== Footer ================== */
footer {
  background-color: #2e8b57;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer .logo img {
  width: 110px;
  height: 110px;
}

.socialmedia_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.address a {
  text-decoration: none;
  color: white;
}

/* ================== RESPONSIVE ================== */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    /* only right side */
    background-color: #2e8b57;
    flex-direction: column;
    display: none;
    border-radius: 0 0 0 10px;
    overflow: hidden;
    z-index: 10;
  }

  .nav-links li a {
    padding: 1rem;
    display: block;
  }

  /* Show menu when checked */
  .menu-toggle:checked~.nav-links {
    display: flex;
  }
}