/* Sidebar */
#sidebar {
  width: 250px;
  background: #f2f2f2;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

#sidebar h3 {
  margin-top: 0;
  color: green;
  text-transform: uppercase;

}

.welcome-message {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  text-align: center;
  color: #2b2b2b;
  padding: 25px 30px;
  border-radius: 12px;
  max-width: 800px;
  margin: 60px auto 40px auto;
  display: block;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* Style for all li items */
#sidebar ul li {
  list-style: none;
  margin: 4px 0;
  padding: 6px 10px;
  border-radius: 6px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Hover effect with cursor pointer */
#sidebar ul li:hover {
  background-color: #88e5b0;
  cursor: pointer;
}

/* Active class styling for clicked li */
#sidebar ul li.active {
  background-color: #3aac6b;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

/* Style for the animal name heading */
.animal-name {
  font-size: 2em;
  font-weight: bold;
  color: #d2dde4;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.3s;
}

.animal-name:hover {
  color: #021b05;
}
/* Short description */
.animal-short-desc {
  font-size: 1rem;
  margin-bottom: 5px;
}
/* Read More / Read Less links */
.read-more,
.read-less {
  
  display: block;
  margin: 10px;
  color: black ; 
  cursor: pointer;
  text-decoration: underline;
}

.read-less {
  color: black
}

/* Full description collapsible container */
.animal-full-desc {
  overflow: hidden;
  max-height: 0;
  margin-top: 10px;
  transition: max-height 0.5s ease;
}

/* Main content container */
#mainContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

/* Animal image */
.animal-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  margin: 0 auto 10px auto;
}



/* Responsive layout */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  #sidebar {
    width: 100%;
    height: auto;
    padding: 15px;
  }

  #main {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  #sidebar h3 {
    font-size: 18px;
  }

  .animal {
    font-size: 16px;
    padding: 10px;
  }

  #main h2 {
    font-size: 20px;
  }

  #summary,
  #fullSummary {
    font-size: 14px;
    padding: 10px;
  }
}