* {
  box-sizing: border-box;
}

main {
  display: flex;
  /* flex: 1; */
  align-items: flex-start;
}

/* Sidebar */
#sidebar {
  width: 250px;
  background: var(--bg-color);
  padding: 20px;
  height: 100vh;
  flex-shrink: 0;
  
}

#sidebar h3 {
  font-size: 1.8rem;
  color: var(--primary-text-color);
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  
}

/* Style for all li items */
#sidebar ul li {
  font-family: "Texturina", serif;
  font-size: 1.4rem;
  color: var(--primary-text-color);
  list-style: none;
  margin: 4px 0;
  padding: 6px 10px;
  border-radius: 6px;
  border: 2px solid var(--sidebar-border);
  transition: background-color 0.2s ease, color 0.2s ease;
  
}

/* Hover effect with cursor pointer */
#sidebar ul li:hover {
  background-color: #6b936c;
  cursor: pointer;
}

/* Active class styling for clicked li */
#sidebar ul li.active {
  background-color: #3aac6b;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}


.welcome-message {
  font-size: 1.0rem;
  font-family: "Texturina", serif;
  font-style: italic;
  text-align: center;
  color: black ;
  font-size: 1.3rem;
  margin-top: 20px;
  line-height: 1.6;
  font-weight: 400;
  background: none;
  padding: 0;
  opacity: 1;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Style for the animal name heading */
.animal-name {
  font-size: 2rem;
  font-weight: bold;
  color: black ;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.3s;
   font-family: "Macondo", cursive;
}

.animal-name:hover {
  color: #021b05;
}

/* Short description */
.animal-short-desc {
  font-size: 1rem;
  margin-bottom: 5px;
  font-family: "Texturina", serif;
}

/* Read More / Read Less links */
.read-more,
.read-less {
  display: block;
  margin: 10px;
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.read-less {
  color: black
}

/* Full description collapsible container */
.animal-full-desc {
  overflow: hidden;
  max-height: 0;
  margin-top: 10px;
  transition: max-height 0.5s ease;
  align-items: center;   /* Horizontal centering */
  justify-content: center;
  font-family: "Texturina", serif;
}

/* Main content container */
#mainContent {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  height: 100vh;
}

/* Animal image */
.animal-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  margin: 0 auto 10px auto;
}

/* Responsive layout */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }
  #sidebar {
    width: 100%;
    height: auto;
    padding: 15px;
  }
  main {
    padding: 15px;
    flex-direction: column;
  }
}